h2{color: blue;font-size: 50px;font-style:inherit;font-weight: bold;background:yellow;text-align: center;}
p,#Index,#list{color: green;font-style: italic;font-size:20px }
h1{color: blue;font-style: initial;font-size: 70px;text-align: center;}
